h1{
    color:red;}

p,h2 {
    text-align: center;
    font-family: 'Trebuchet MS' ;
}

.header{
    background-color: darkgray;
    display:flex;
    justify-content: space-between;
}
.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    display: flex;
    justify-content: flex-end;
}